body {
	font-family: "medium-content-sans-serif-font","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}

h1 {
	font-size: 2.5em;
	color: rgba(0,0,0,0.7);
}

h2 {
	font-size: 1.5em;
	color: rgba(0,0,0,0.5);
}

h3 {
	margin: 2px;
	color: rgba(0,0,0,0.8);
	font-size: 1.3em
}

h4 {
	margin: 2px;
	color: rgba(0,0,0,0.7);
}


header {
	border: 0px solid red;
	width: 85%;
	margin: 40px auto;
	font-size: .8em;
}

article p {
	font-size: 1.1em;
	line-height: 1.4em;
	color: rgba(0,0,0,0.8);
}

footer {
	border: 0px solid red;
	width: 85%;
	margin: 40px auto;
	font-size: .8em;
}

section {
	width: 85%;
	margin: 0 auto;
}

article {
	width: 85%;
	margin: 0 auto;
}
